<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<div class="container">
    <p>
        <a th:href="@{/createAccount}">Create new account</a>
    </p>
</div>
<div class="container">
    <h2>Account</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Password</th>
            <th>Avatar</th>
            <th>Birthday</th>
            <th class="disabled-sorting text-right">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="account:${accountList}">
            <td th:text="${account.id}"></td>
            <td th:text="${account.username}"></td>
            <td th:text="${account.password}"></td>
            <td><img th:src="${account.img}" width="50px" height="50px"></td>
            <td th:text="${account.birthday}"></td>
            <td class="disabled-sorting text-right">
                <a th:href="@{/editAccount (id=${account.id})}" class="btn btn-info" role="button">Edit</a>
                <a th:href="@{/deleteAccount (id=${account.id})}" class="btn btn-info" role="button">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>